*{
     font-family: 'Montserrat', sans-serif;
}


.hr{  margin:10px 0;  height:1px;  }

section.baixar button:focus{border:none;}

a{
    color:#fff; margin:0; padding:0;
}

a:hover{
    text-decoration: none;
    color:#fff;
}

a:link{
    text-decoration: none; color:#fff;
}

a:active{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}
ul{list-style: none;}
li{float:left;}

/*Head*/
header {
    background-image: url('../images/topo-catia.jpg');
    background-size: cover; /* fallback for old browsers */
    min-height:545px;
    font-family: 'Montserrat', sans-serif;
}

header .chamada{
    margin-top:70px;
}

header .chamada h1{
    color:#fff;
    font-size:30px;
}

header .chamada h2{
    color:#fff;
    font-size:23px;
}

header ul{list-style: none; float:left; padding-left: 0; font-size:16px; }

header ul li{color:#fff; float:left; margin-top:1.3em; text-shadow: 1px 1px #000;}

header .logo{
    max-width: 230px;
    margin-left:40px;
    margin-top:10px;
}

.container-fluid .black{background:#555555; width:100%;}

.container-fluid .black ul{list-style: none; padding:10px;}
.container-fluid .black ul li{float:left; width: 140px; margin-right: 5%; padding:10px;}
.container-fluid .black ul li:last-child{margin-right:0;}
.container-fluid .titulo2 .info{width:572px; margin-top:80px;}
.container .desc{margin-top:40px;}
.container-fluid .desc .h1{font-weight: 400 !important; font-size:22px !important;}
.container .desc p{color:#555; font-weight: 400 ; text-align: left; font-size:13px;}
.container .desc .col-md-4{margin-top:20px;}


.button{margin-top:20px; margin-bottom:40px; height:80px; font-size:22pt; color: #fff; border-radius:15px; background:#05e955;}

button.face{font-size:22px; background: #5bc0de;;font-weight: bold; padding:20px;
    background: #5190dd; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#5190dd, #2e5695); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5190dd, #2e5695); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5190dd, #2e5695); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5190dd, #2e5695); /* Standard syntax */
}

button.face:hover{
    background: #2e5695; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#2e5695, #5190dd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#2e5695, #5190dd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#2e5695, #5190dd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#2e5695, #5190dd); /* Standard syntax */
}

button.ebook{
    background: #eb8613; /* For browsers that do not support gradients */
    border:0;
}

button.ebook:hover{
   background: #eb8613; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e3a528, #eb8613); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e3a528, #eb8613); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e3a528, #eb8613); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e3a528, #eb8613); /* Standard syntax */
    color:#fff;
}

button.ebook:active{color:#fff;}


.container .titulo1{margin-top:60px;}
.container .titulo2{margin-top:60px;}
.container .titulo2 p{font-size:17px;}
.container-fluid .titulo3 .info{width:572px; margin-top:40px;}
.container-fluid .titulo3 p{font-size:15px; margin-top:50px;}


.container .t1{color:#555;}
.container-fluid .t4{color:#fff;}


.container-fluid .titulo3{background:#e7e7e7; margin-top:50px; padding:20px;}
.container-fluid .titulo4{background-image: url('../images/docbgjpeg.jpg'); margin-top:0px; padding:20px; color:#fff;}
.container-fluid .titulo4 .info{width:250px; margin-top:40px;}
.container-fluid .titulo4 .bt{width:440px; margin-top:30px;}
.container-fluid .titulo4 .bt button{width: 100%;}

.container-fluid .titulo4 .info2{background-image:url('../images/setinha.png'); position: absolute; width:112px; height: 265px; margin-left:-160px;} 
.container-fluid .titulo4 .info2{background-position: left; }
.container-fluid .titulo4 .info2{background-repeat: no-repeat;}

.container-fluid .titulo5{margin-top:50px; padding:20px;}
.container-fluid .titulo6{background:#ebebeb; margin-top:50px; padding:20px;}
.container-fluid .titulo6 ul li{background:#ffffff; width:31%; border-top: 10px solid red; padding:10px; height:265px; margin-right:2%; margin-bottom: 20px; margin-top:20px;}
.container-fluid .titulo6 ul li:last-child{margin-right:0px;}
.container-fluid .titulo6 ul li img{margin-top:50px;}
.container-fluid .titulo6 ul li p{margin-top:20px; font-weight: 500; padding-bottom:5px;}
.container-fluid .titulo7{background:#e2e2e2; margin-top:0px; padding:50px 30px 30px 30px;}

.container-fluid .titulo8{background:#fff margin-top:0px; padding:50px 30px 30px 30px;}
.container-fluid .titulo8 .desct8{font-size:20px; margin-top:40px; color:#949494;}
.container-fluid .titulo8 ul{margin-top:40px; width:110%;}
.container-fluid .titulo8 ul li{padding-left:40px; height:40px; text-align: left; padding-top:1%; width: 300px; margin-right:50px;  background-image:url('../images/vcheck.png'); background-repeat: no-repeat;}

.container-fluid .titulo9 .container{margin-top:60px; margin-bottom:40px;}
.container-fluid .titulo9 .container p{margin-top:30px; font-size:22px;}
.container-fluid .titulo9 .col-md-4{margin-top:40px;}
.container-fluid .titulo9 h3{color:#555555}

.container-fluid .bar2{width:70px; border:5px solid #fff;}


.container-fluid .titulo9 p.vejafb{margin-top:80px !important;}

.container-fluid .titulo10{background-image: url('../images/bgyoutube.jpg'); margin-top:0px; padding:40px; color:#fff;}

.container-fluid .col-md-4:hover{}

.container-fluid .titulo10 .col-md-4{margin-top:40px;}

.container-fluid .titulo11{padding:40px; margin-top:40px;}

.container-fluid .titulo11 .col-md-6{margin-top:40px; text-align: right; font-size:22px; }
.container-fluid .titulo11 .col-md-6 p{margin-top:40px;}

.container-fluid .titulo12{margin-top:40px;}
.container-fluid .titulo12 .container ul {margin-top:50px; padding-right:20px;}
.container-fluid .titulo12 .container ul li{background:url('../images/qicon.png') no-repeat; padding-left:50px; padding-bottom:20px; width:50%; text-align: left;}
.container-fluid .titulo12 .textovideo{ text-align: left; font-size:19px;}
.container-fluid .titulo12 h4{color:#555555;}

.container-fluid .centercatia{width:400px;}
.container-fluid .centercatia h4{text-align: center; margin-top:5%;}
.container-fluid .centercatia p{text-align: center; margin-top:5%;}

.container-fluid .contato{background:#ebebeb; }
.container-fluid .form{background:#d0d0d0; padding:30px;}
.container-fluid .form label{margin-top:25px;}
.container-fluid .form input{margin-top:-10px;}
.container-fluid .form textarea{height:150px;}
.container-fluid .form button{height:50px; font-weight: bold; font-size:18px;}



.container .sabia{margin-left:-30px;}
.container .sabia ul{list-style: none; width:110%;}
.container .sabia ul li img{max-width:280px;}
.container .sabia ul li{float:left;}

.bar{width:70px; border:5px solid #333;}


footer{
    background-color: #868686;
}

footer a{
    color: #fff;
}

footer a:hover{
    color: #ab0224;
}

footer a:active{
    color: #ab0224;
}

footer p{ font-size:10pt;}


/* intrisic iframe */
.intrinsic-container {
    position: relative;
    height: 0;
}

/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
    padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
    padding-bottom: 5%;
    max-width:780px !important;
    max-height:439px !important;
}

.intrinsic-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 780px;
    height: 439px;
}

/*snippets */

#circle {
    width: 10px;
    height: 10px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    float:left;
    margin:0.3em;
    position:absolute;
    left:-14px;
    bottom:20px;

}

#circle img{
    width:20px;
    height:20px;
}

.info span{
    position:absolute;
    right:0.3em;
    top:1em;
}


/* HTML5 RESPONSIVE LIGHTBOX */
.lightboxcontainer {
    width:100%;
    text-align:left;
}
.lightboxleft {
    width: 40%;
    float:left;
}
.lightboxright {
    width: 60%;
    float:left;
}
.lightboxright iframe {
    min-height: 390px;
}
.divtext {
    margin: 36px;
}
@media (max-width: 800px) {
    .lightboxleft {
        width: 100%;
    }
    .lightboxright {
        width: 100%;
    }
    .divtext {
        margin: 12px;
    }
}



.optin h2{font-size:20px !important;}

/*640x360*/




/* TESTIMONIAL*/
.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}

/*SNIPPET CIRCLE*/

.circle-tile {
    margin-bottom: 15px;
    text-align: center;
}
.circle-tile-heading {
    border: 3px solid rgba(255, 255, 255, 1);
    border-radius: 100%;
    color: #a73c44;
    height: 100px;
    margin: 0 auto -40px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 100px;
}
.circle-tile-heading p{
	margin-top:15px; font-size:45px;
}

.circle-tile-heading span{
	margin-top:18px; font-weight: bold; font-size:16px;
}

.circle-tile-heading .fa {
    line-height: 80px;
}
.circle-tile-content {
    padding-top: 50px;
    min-height: 137px;
}
.circle-tile-number {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    padding: 5px 10px;
}
.circle-tile-description {
    text-transform: lowercase;
}
.circle-tile-footer {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.5);
    display: block;
    padding: 5px;
    transition: all 0.3s ease-in-out 0s;
}
.circle-tile-footer:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.circle-tile-heading.dark-blue:hover {
    background-color: #2E4154;
}
.circle-tile-heading.green:hover {
    background-color: #138F77;
}
.circle-tile-heading.orange:hover {
    background-color: #DA8C10;
}
.circle-tile-heading.blue:hover {
    background-color: #2473A6;
}
.circle-tile-heading.red:hover {
    background-color: #CF4435;
}
.circle-tile-heading.purple:hover {
    background-color: #7F3D9B;
}
.tile-img {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.dark-b{background-color: #eeeeee;}

.um {
    background:url('../images/sabia-img-1.png'),linear-gradient(#d52c4c, #9a1111) no-repeat;
    background-size: cover;
}

.dois {
    background:url('../images/sabia-img-2.png'), linear-gradient(#d52c4c, #9a1111)  no-repeat;
    background-size: cover;
    background-position: bottom;
}

.tres {
    background:url('../images/sabia-img-3.png'), linear-gradient(#d52c4c, #9a1111) no-repeat;
    background-size: cover;
}

.quatro {
    background-image:url('../images/sabia-img-4.png'), linear-gradient(#d52c4c, #9a1111);
    background-size: cover;
    background-position: bottom;
}

.cinco {
    background-image:url('../images/sabia-img-5.png'), linear-gradient(#d52c4c, #9a1111);
    background-size: cover;
    background-position: bottom;
}

.seis {
    background-image:url('../images/sabia-img-6.png'), linear-gradient(#d52c4c, #9a1111);
    background-size: cover;
    background-position: center;
}

.sete {
    background-image:url('../images/sabia-img-7.png'), linear-gradient(#d52c4c, #9a1111);
    background-size: cover;
    background-position: center;
}

.oito {
    background-image:url('../images/sabia-img-8.png'), linear-gradient(#d52c4c, #9a1111);
    background-size: cover;
    background-position: center;
}

.green {
    background-color: #16A085;
}
.blue {
    background-color: #2980B9;
}
.orange {
    background-color: #F39C12;
}
.red {
    background-color: #E74C3C;
}
.purple {
    background-color: #8E44AD;
}
.dark-gray {
    background-color: #7F8C8D;
}
.gray {
    background-color: #95A5A6;
}
.light-gray {
    background-color: #BDC3C7;
}
.yellow {
    background-color: #F1C40F;
}
.text-dark-blue {
    color: #34495E;
}
.text-green {
    color: #16A085;
}
.text-blue {
    color: #2980B9;
}
.text-orange {
    color: #F39C12;
}
.text-red {
    color: #E74C3C;
}
.text-purple {
    color: #8E44AD;
}
.text-faded {
    color: rgba(255, 255, 255, 1);
}


